//@theme "/usr/share/rofi/themes/android_notification.rasi"
//@theme "/usr/share/rofi/themes/android_notification.rasi"
//@theme "/usr/share/rofi/themes/Arc-Dark.rasi"
//@theme "/usr/share/rofi/themes/ArcoLinux-Darkish.rasi"
//@theme "/usr/share/rofi/themes/ArcoLinux-Nord.rasi"
//@theme "/usr/share/rofi/themes/docu.rasi"
@theme "/usr/share/rofi/themes/dmenu.rasi"
